%div{:style => "text-align: center; font-size: 200%;"}
  %p You have completed the survey.
  %p
    As you have not consumed any alcohol recently, you are not eligible for
    this study.
  %p Thank you for your time today.
