%div{:style => "text-align: center; font-size: 200%;"}
  %p You have completed the survey.
  %p
    As you are already receiving care and advice in relation to alcohol, you
    are not eligible for this study.
  %p Thank you for your time today.
