%h1 Welcome to the Hunter Outpatient Alcohol Project

%div{:style => "text-align: center;"}
  %p
    Please enter your invitation code below, then click the &ldquo;Start
    Survey&rdquo; button.

  - form_tag :action => 'start' do
    %p= text_field_tag "code"
    %p= submit_tag "Start Survey"
