%h1 Welcome to the Hospital Outpatient Alcohol Project

%div{:style => "text-align: center;"}
  %p
    When you are ready to start, please click the &ldquo;Start
    Survey&rdquo; button.

  = form_tag :action => 'start' do
    %p= submit_tag "Start Survey"
