%h1 Injury and Trauma

%p Since your 18th birthday:

- form_tag save_url(:page => 8, :key => @participant.key) do
  - @questions.length.times do |i|
    - @question, @answer = @questions[i], @answers[i]
    %p
      #{i + 1}. #{@question.text}
      %br
      = render :partial => "answer"
  = render :partial => "continue"
