%h1 Hospital Outpatient Alcohol Project

%h2 Welcome

%p
  This survey of alcohol use will take approximately 5 to 15 minutes to
  complete and is confidential.

%p
  In order for us to personalise this survey for you, you may wish to
  enter a name in the box below:

= form_tag save_url(:key => @participant.key, :page => 1) do
  %div{:style => "text-align: center;"}
    %p= text_field "participant", "name"
    %p= submit_tag "Continue »"
