%p &nbsp;
%p &nbsp;

%h1 Current Care

= form_tag save_url(:page => 4, :key => @participant.key) do
  - @question, @answer = @questions[0], @answers[0]
  %p
    != @question.text
    %br
    = render :partial => "answer"

  = render :partial => "continue"
