%h1 Incomplete Participants

%p
  A list of all participants who have not completed the survey. If the
  participant code has a strikethrough, that participant has not supplied us
  with an email address.

%ol
  - @incomplete.each do |pp|
    %li
      - if pp.email.nil?
        %strike= link_to pp.code, page_url(:key => pp.key)
      - else
        = link_to pp.code, page_url(:key => pp.key)
