%h1 Welcome to the HOAP Admin Interface

%p
  <b>Status</b>:
  = pluralize @count, "participant has", "participants have"
  done the survey.
  = link_to 'Export answers', :action => :export

%p
  <b>Today's Reports:</b>

%ol
  - @participants.each do |pp|
    %li
      = link_to pp.code, report_url(:key => pp.code) + ".pdf"

%p
  = link_to 'All Reports', all_reports_url
