// Place all the styles related to the Report controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*
 * Tab bar
 * Adapted from http://woork.blogspot.com/2008/03/clean-tab-bar-digg-like-using-css.html
 */
ul.tab {
  border-bottom:solid 1px #DEDEDE;
  height:29px;
  padding-left:20px;
  list-style:none;
  li {
    float:left;
    margin-right:2px;
    border: 0;
    margin: 0;
    padding: 0;
  }
  a:link, a:visited {
    background:image-url('tab-round.png') right 60px;
    color:#666666;
    display:block;
    font-weight:bold;
    height:30px;
    line-height:30px;
    text-decoration:none;
  }
  a span {
    background:image-url('tab-round.png') left 60px;
    display:block;
    height:30px;
    margin-right:14px;
    padding-left:14px;
  }
  a:hover {
    background:image-url('tab-round.png') right 30px;
    display:block;
    span{
      background:image-url('tab-round.png') left 30px;
      display:block;
    }
  }
  li.active {
    a:link, a:visited, a:visited, a:hover{
      background:image-url('tab-round.png') right 0 no-repeat;
    }
    a span, a:hover span{
      background:image-url('tab-round.png') left 0 no-repeat;
    }
  }
}

div.contact {
  margin-top: 3em;
  margin-bottom: 2em;
}

table.audit {
  width: 170px;
  margin-top: 2em;
  border-collapse: separate;
}
td.level {
  color: #FFF;
  text-align: center;
  font-size: 120%;
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 0.3em;
  padding-right: 0.3em;
}
td.text {
  font-size: 90%;
  padding-left: 1em;
}
tr.audit_other td.level {
  border: 1px solid #696371;
  background-color: #EBDDFE;
}
tr.audit_other td.text {
  color: #666;
}
tr.audit_level td.level {
  border: 1px solid #3F1470;
  background-color: #8300FC;
}
tr.audit_level td.text {
  color: #222;
}
p.audit_level {
  padding: 5px;
  font-weight: bold;
}
span.report {
  color: #F00;
}
.footnote {
  font-size: 80%;
}

p.a0 {
  background-color: #8CEC89;
  border: 1px solid #10570e;
}

p.a1 {
  background-color: #E9FC8D;
  border: 1px solid #a7c905;
}

p.a2 {
  background-color: #FFDE8E;
  border: 1px solid #d29500;
}

p.a3 {
  background-color: #FFAA8E;
  border: 1px solid #c13000;
}
