%h4 Standard Drinks Consumed Per Occasion

%div{:style => "text-align: center;"}
  = image_tag dpo_graph_url, :alt => "Average Number of Standard Drinks"

- if @participant.show_peer_dpo?
  %p
    You reported having approximately #{@participant.typical_drinks} drinks on a
    typical occasion. The graph above shows how this compares to medical
    guidelines<sup>1</sup> and to other people your age and sex<sup>2</sup>.

  %ol.footnote
    %li
      National Health and Medical Research Council (NHMRC). Australian guidelines
      to reduce health risks from drinking alcohol. Canberra: NHMRC; 2009.
    %li
      Australian Institute of Health and Welfare (AIHW). 2007 National Drug
      Strategy Household Survey: detailed results. Drug Statistics Series number
      22. Cat. no. PHE 107. Canberra: AIHW; 2008.
- else
  %p
    You reported having approximately #{@participant.typical_drinks} drinks on a
    typical occasion. The graph above shows how this compares to medical
    guidelines<sup>1</sup>.

  %ol.footnote
    %li
      National Health and Medical Research Council (NHMRC). Australian guidelines
      to reduce health risks from drinking alcohol. Canberra: NHMRC; 2009.
