%div{:style => "text-align: center; font-size: 200%;"}
  %p You have completed the survey.
  %p
    As your score on the alcohol screening test suggests that you are drinking
    in accordance with medical guidelines, you are not eligible for this study.
  %p Thank you for your time today.
