- if @participant.audit_c >= 10
  %div{:style => "text-align: center; font-size: 200%;"}
    %p
      Your score on the screening test suggests you may have impaired control
      over your drinking.
    %p
      It is likely that alcohol is causing problems and that you would benefit
      from changing your drinking.
    %p
      You will probably find it easier to do this by getting help.
    %p
      If you would like to be referred to a specialist (here at the Ambulatory
      Care Centre) for further assessment, please let the experiment know.

= render :partial => "exit#{@participant.exit_code}"
