%p
  Your score on the screening questions indicates that you would benefit from
  changing your drinking habits.
%p
  You will probably find it easier to do this by getting help.
%p
  The JHH Drug &amp; Alcohol Outpatient Clinic operates in North Block of
  the Ambulatory Care Centre on Friday afternoons between 2.00pm and
  4.30pm.
%p
  Would you like Hunter New England Health staff to send you a letter with
  an appointment for this clinic?
= form_for @participant, :url => finish_url(@participant.key) do |f|
  %p
    - appointment_values.each do |k,v|
      = f.radio_button :appointment, v, :class => "required"
      = f.label :appointment, k, :value => v
      %br
  %p{:style => "text-align: right;"}
    = submit_tag "Continue »"

:javascript
  $(configureReferral);
