= render "tabbar", :active => :support

%p
  Some people can stop or reduce their drinking by themselves, whilst others
  might need some support. Here are some options:

.contact
  %h3 Hunter New England Local Health District

  %p
    %strong Drug and Alcohol Clinical Services Central Intake

  %p
    %strong Contact Information
    %br
    Hunter (Monday – Friday 8am – 4pm) Phone: (02) 4923 2060
    %br
    Northern (Monday – Friday 8am – 4:30pm) Phone: 1300 660 059
    %br
    Manning (Monday – Friday 8:45am – 5pm) Phone: 1300 662 263

  %p
    %strong Associated Drug and Alcohol Clinical Units

  %p
    %strong Calvary Mater Newcastle Alcohol and Drug Unit

  %p
    %strong Contact Information
    %br
    Phone: (02) 4014 4796

.contact
  %h3
    %a{:href => "http://www.aa.org.au/contact-central-service-offices.php"}<
      Alcoholics Anonymous Newcastle Districts
  %p
    For information about AA &amp; general assistance call the 24 hour Helpline

  %p
    %strong Contact Information
    %br
    Phone: 4964 1555
    %br
    Email:
    %a{:href => "mailto:aa-newcastle@aa-area-c.org"}aa-newcastle@aa-area-c.org

.contact
  %h3
    %a{:href => "http://www.druginfo.nsw.gov.au/about_us/helplines"}<
      Alcohol and Drug Information Service (ADIS)

  %p
    ADIS provides 24-hour confidential counselling, referral, information &amp;
    advice to anyone concerned about their own or another's alcohol or other
    drug use.

  %p
    %strong Contact Information
    %br
    Phone: 1800 422 599 or 9361 8000

.contact
  %h3
    %a{:href => "http://www1.hnehealth.nsw.gov.au/AboriginalHealthInfo/IndigenousHealthServices.cfm"}<
      Awabakal Medical Centre

  %p
    Specialist support and services for Aboriginal and Torres Strait Islander
    People.

  %p
    %strong Contact Information
    %br
    Phone: 4969 2424 or 1800 AWABAKAL

.contact
  %h3
    %a{:href => "http://www.counsellingonline.org.au/en/"}<
      Turning Point Alcohol and Drug Centre

  %p
    %strong Contact Information
    %br
    Phone: 1800 888 236
    %br
    Email:
    %a{:href => "mailto:CounsellingOnline@turningpoint.org"}
      CounsellingOnline@turningpoint.org
