// Place all the styles related to the Report controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*
 * Tab bar
 * Adapted from http://woork.blogspot.com/2008/03/clean-tab-bar-digg-like-using-css.html
 */
ul.tab {
  border-bottom:solid 1px #DEDEDE;
  height:29px;
  padding-left:20px;
  list-style:none;
  li {
    float:left;
    margin-right:2px;
    border: 0;
    margin: 0;
    padding: 0;
  }
  a:link, a:visited {
    background:url(tab-round.png) right 60px;
    color:#666666;
    display:block;
    font-weight:bold;
    height:30px;
    line-height:30px;
    text-decoration:none;
  }
  a span {
    background:url(tab-round.png) left 60px;
    display:block;
    height:30px;
    margin-right:14px;
    padding-left:14px;
  }
  a:hover {
    background:url(tab-round.png) right 30px;
    display:block;
    span{
      background:url(tab-round.png) left 30px;
      display:block;
    }
  }
  li.active {
    a:link, a:visited, a:visited, a:hover{
      background:url(tab-round.png) right 0 no-repeat;
    }
    a span, a:hover span{
      background:url(tab-round.png) left 0 no-repeat;
    }
  }
}

div.contact {
  margin-top: 3em;
  margin-bottom: 2em;
}
